*{
  box-sizing: border-box;
}



html{
  font: italic 12px Comic Sans MS, serif; 
}

body{
  background-color: #050505;/*En caso de no soportar el gradiente*/
  background-image: radial-gradient(ellipse, #16191a 10%, #232626 45%, #292d2e 70%, #3a3e40);
  min-height: 100vh;	
	margin: 0;
 color:white;	
}

header{
  display: flex;
  flex-direction: column;
}

/*.fieldset input #buscador{
  margin: 0.2rem 0rem;*/ /*barra del buscador del ancho de la ventana*/
/*  text-align: right;
  font-size: 2rem; 
  background-color: white;
  /*color: white;*/
 /* padding: 1rem 2rem;
  border-radius: 5px 50px;
}*/

input{
  font-size: 2rem;
  width: 20rem;
}

input#s{
	color: black;
	border-radius:5px 15px;
	width:110px; 
	height:30px; 
	font-size: 1.5rem;
}

#logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
   padding: 1rem 1rem;
}

.logo2{
  border-radius: 5px 50px;
  width: 14rem;
}

/*#menu{
	background-color: #66d9ff;
}*/
nav ,nav a{
	background-color: #050505;
	color: white;
}
nav h3{
	display:none;
}
nav a:active {
  /*background-color: yellow;*/
  color:yellow;
}
nav a:Hover{
	color: #198524;
}
a.dropdown-item{
	background-color: #050505;
	color: white;
	font: italic 15px Comic Sans MS, serif;
	border: 0; 
	margin:0,-4rem, -4rem,-4rem;
	padding:0,-4rem,-4rem,-4rem;
}
li a:hover, .dropdown-item:hover{
	color: #198524;
}
/*nav a:visited , li a:visited {
	color: white;
}*/
.btn{
	color: white;
	background-color: #050505;
	height: 5 rem;
}


li{
  list-style: none;
  font-size: 2.6rem;
  background-color: #050505;
  color: white;
}
#tit h1 a{
	 color:#33adff;
	 font-size:10px;
}

 #textit{
  text-align: center;
  display: block;
  font-size: 1.8rem;
  padding: 0rem 20vh;
  color:white;
}

#textit h2{
  margin: 1rem 0rem;
  color:white;
}
#textit h2 .capitalLetter
{
   color: #198524;
   border:1px solid #198524;
   font-size:400%;
   /*line-height:60px;*/
   padding:2px;
   font-family:comicSans;
   /*margin-left: 5px;*/
}
.formul,.formulj,.formule,.formulp{
	list-style-position: outside; 
	font-family: comicSans;
   	font-size: 18px;	
	color: white;
	cursor: pointer;
	margin: 2em;
	text-align: center;
	border: solid 2px  #198524;
}
aside{
  height: 2rem;
}

#pie a{
  display: block;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  background-color: #050505;
  padding: 2rem;
}

a:active {
	  /*background-color: yellow;*/
  color:yellow;
}

.active{font-size: 30px;}



/* smartphone */

@media only screen and (max-width: 600px) {

body{
	padding-left: 1rem;
}

  .logo2{
    border-radius: 4px 30px;
    width: 10rem;
    justify-content: center;
  }

  #textit{
    font-size: 1.5rem;
    padding: 1rem 2vh;
  }
  li{
	font-size: 1.5rem;
    padding: 0.5rem 2vh;  
  }
.active{font-size: 2.5rem;}

 nav{
	 width:35%;
	 
 }
 
 

