
.formul{
	list-style-position: outside; 
	font-family: comicSans;
   	font-size: 18px;	
	color: white;
	cursor: pointer;
	margin: 2em;
	text-align: center;
	border: solid 2px  #198524;
}

h1{text-align: center;}


.responsive {
  width: 100%;
  max-width: 1500px;
  height: auto;
}

#Nombre, #Email, #Vias, .Consulta, #Chek, #envia, #reset {
	font-family: comicSans; 
	font-size: 18px;
	color:black;
}

