
/* estilos dispositivos: */

#flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;	
	justify-content: space-between;  
	width: 100%;	 
    padding: 1rem 6vh;
}

.boton{
	width: 16%;
}

.boton img{
	border: 0.3rem solid #198524;
	width: 60%;
	height: auto;	
	margin: 0% 20% 5%;
	border-radius: 60%;	
}

.boton .dispositivo{
	border: 0.5rem solid #198524;
	background-color: #e6e6e6;
	/*font-size: 1.2rem;*/
	font-size: 0rem;
	text-align: left;
	padding: 0rem 0.5rem;
	height: 0rem;
	
}
.boton .dispositivo div i{
	display: block;
	font-size: 4rem;
	color: #198524;
	text-align: center;
}

aside p{	
	margin: 60vh 0vh 0vh 0vh;
}




/* transformacion + transition */

.dispositivo{
	transition: height 1s; 
}
.dispositivo:hover{
	height: auto; 	
	font-size: 1.2rem;		
	background-position: bottom;
	background-repeat: no-repeat;
	filter: saturate(1); 
	transform: scale(1.1,1.1);
	cursor: pointer;
}




/* smartphone */

@media only screen and (max-width: 768px) {
	
	#flex-container{
		flex-direction: column;	
		padding: 1rem 5vh;
	}

	.boton{
		width: 100%;
		margin: 0.5rem;
		display: flex;
    	flex-wrap: wrap;
    	flex-direction: row;
		justify-content: space-between;/**/
	}

	.boton img{
		width: 16%;
		height: 16%;/**/
		margin: 1%;
	}

	.boton .dispositivo{
		width: 80%;
		font-size: 1.2rem;
		margin: 1%;
		height: auto;
	}

	.boton .dispositivo div i{
		display: none;
	}

}


