
/* estilos servicios: */

#flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	justify-content: space-between;  
	width: 100%;	 
    padding: 1rem 10vh;
}

.serv{
	border: 0.5rem solid #198524;
	background-color: #e6e6e6;
	width: 32%;
	font-size: 1.2rem;
	text-align: left; 
}

hr{
	border: 0.25rem solid #198524;
	margin: 0em;
}

.serv h3, .serv p, .serv h5{
	padding: 1rem;
	margin: 0em;
}

audio{
	width: 15%;
	align:rigth;

}


/* smartphone */

@media only screen and (max-width: 768px) {
	
	#flex-container{
		flex-direction: column;	
	}

	.serv{
		width: 100%;
		margin: 0.5rem;
	}
	
}
