
/* estilos galeria de imagenes: */

#galeria{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;    
  padding: 1rem 20vh;
}
  
.elemento{
  width: 33%;
  padding: 2rem ;
}

#galeria img{
  width: 80%;
  border-radius: 2rem;
  box-shadow: 0.8rem 0.8rem 1rem rgba(0,0,0,0.3);
}

#galeria .lightbox img:hover{
  transform: scale(1.50);
  border: 1.5rem solid rgba(255,255,255,0.7);
  border-radius: 2rem;
}
  



/* smartphone */

@media only screen and (max-width: 768px) {

  #galeria{  
    padding: 2rem 6rem;
  }

  .elemento{
    width: 100%;
    text-align: center;
    padding: 2rem ;
  }

}