/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */

.con{
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, rgb(215, 218, 219) 50%, rgb(157, 164, 168) 50%);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
	color:#3e403f;
}
/* the header form form */
.head-form{
   /* margin: 2% auto 10% auto;*/
    text-align: center;
}
/* Login title form form */
.head-form h2 {
    font-size: 250%;
    font-family: 'Comic Sans', serif;
    color: #3e403f;
}
/*  A welcome message or an explanation of the login form */
.head-form p {letter-spacing: 0.05em;}

.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}
.grid-Pagos{
       text-align: left;
       justify-content: space-around;
    }
/* inputs form  */
input[class="form-input"]{
    width: 250px;
    height: 40px;
  
    margin-top: 2%;
    padding: 10px;
    
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 5px 5px 5px 5px;
    transition: 0.2s linear;  
}
input[id="txt-input"] {width: 260px; border-radius: 5px 5px 5px 5px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

button .btn-submits, input.btn-submits-pago{
    display: inline-block;
    color: #5E6472;
  
    width: 360px;
    height: 40px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}
/* Submits */
.pago{background: transparent;}

.submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}

label {
	background: transparent !important;
    padding: 8px 2px 5px 0;
    display: inline-block;
    margin-left: 10px;
    width: 100px;
	text-align: left;
}

input[type=submit] {
    background-color:  #5E6472;
    color: white;
   /* padding: 12px 20px;*/
    border: none;
	border-radius: 5px;
    cursor: pointer;
    position:relative;
    
}
input[type=button]{
	width: 360px;
    height: 40px;
}
input[type=submit]:hover {
    background-color: #45a049;

}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}
.submit{
    width:50%;
    
    text-align: center;
    margin-left: 10%;
    justify-content: center;
    
}
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* buttons hover */
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

