/*estilos Productos*/

/*.cesta {
    background-color:#ffff66;
    padding: 10px;
	border-right:10px;
  }
/* .productos{
	 color:#0099ff;
 } 
  
 /* h3 {
	  position:absolute:
	  align:left;
	  border-left:10px;
  }
 /* .formul1{
	list-style-position: outside; 
	font-family: comicSans;
   	font-size: 18px;	
	color: white;
	cursor: pointer;
	margin: 2em;
	/*text-align: center;*/
/*	border: solid 2px  #198524;
}
