/* estilos tienda: */
main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
}
.mapaImagen{
  display: inline;
  padding: 2rem 45%;
}
 
/*.capitalLetter
{
   color: #198524;
   border:1px solid #198524;
   font-size:400%;
   padding:2px;
   font-family:comicSans;
}  */
.formul{
	list-style-position: outside; 
	font-family: comicSans;
   	font-size: 18px;	
	color: white;
	cursor: pointer;
	margin: 2em;
	text-align: center;
	border: solid 2px  #198524;
}
#envia,#usuario,#password{
	font-family: comicSans; 
	font-size: 18px;
	color:black;
}
.alert{
	display:inline-block; 
	font-family: comicSans;
   	font-size: 18px;	
	color: white;
	cursor: pointer;
	margin: 2em;
	text-align: center;
	border: solid 2px  #198524;}
.responsive {
  width: 100%;
  max-width: 1500px;
  height: auto;
}
.error 
{
font-family: Verdana, Arial, sans-serif;
font-size: 0.7em;
color: #900;
background-color : #ffff00;
}
.divisor {
clear:both;
height:0;
font-size: 1px;
line-height: 0px;
}



#login legend {
font-family : Arial, sans-serif;
font-size: 1.3em;
font-weight:bold;
color:#333;
}

div .campo {
display: inlineblock;	
margin-top:10px;
margin-bottom: 10px;
padding:20px;
}

#login label {
font-family : Arial, sans-serif; 
font-size:1.5em;
font-weight: bold;
color:white;
}

#login input[type="text"], #login
input[type="password"] {
font-family : Arial, Verdana, sans-serif;
font-size: 1em;
line-height:140%;
color : #000;
padding : 3px;
border : 1px solid #999;
height:18px;
width:220px;
}


#login input[type="submit"] {
width:100px;
height:50px;
padding-left:10px;
color:#9999ff;
}

.pagproductos body, .pagcesta body {
font: 100% Verdana, Arial, Helvetica,
sans-serif;
background: #666;
margin: 0;
padding: 0;
/*text-align: center;*/
color: #000000;
}


#contenedor {
width: 90%;
background: #ffff00;
margin: 0 auto;
border: 1px solid #000;
text-align: left;
}

#encabezado {
color:#9999ff;
padding: 0 10px;
border-top-width: thin;
border-right-width: thin;
border-bottom-width: thin;
border-left-width: thin;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
background-color:white;

}

#encabezado h1 {
margin: 0;
padding: 10px 0;
color:orangered;
}

.pagproductos #cesta {
float: right;
width: 25em;
/*Background-color:#76ab7c;*/
background-color:#aed5f5;
color:blue;
margin-right: 20px;
width:30%;
}

.pagproductos #cesta h2 {
margin-left: 10px;
margin-right: 10px;
text-align: center;
}

.pagproductos #cesta p {
margin-left: 10px;
margin-right: 10px;
font-size: 20px;
}

.pagproductos #cesta input[type="submit"] {
margin-left: 10px;
margin-right: 10px;
margin-bottom: 3px;
width:100px;
height:30px;
padding-left:0px;
}
.pagproductos #productos h3 {
text-align: left;	
}
.pagproductos #productos {
margin: 5px 10px 0 10px;
color:#0099ff;
width:65%;

}

.pagcesta #productos {
margin: 10px;
font-size: 15px;

}

.pagproductos #productos input,
.pagproductos #productos p {
font-size: 15px;
border-color: White;
border-width: thin;
/*border-right-width: thin;
border-bottom-width: thin;
border-left-width: thin;*/
border-style: solid;
/*border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;*/

}

#productos .codigo {
width: 20%;
float: left;
}
#productos .nombre {
width: 60%;
float: left;
}
#productos .precio {
width: 20%;
text-align: right;
font-weight: bold;
}
#productos p {
text-align: right;
font-weight: bold;
border_style:solid;
}

#pie1 {
padding: 0 10px;
/*background-color: #99ccff;*/
border-top-width: thin;
border-right-width: thin;
border-bottom-width: thin;
border-left-width: thin;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
font-size: 15px;

}


  /* smartphone */
  
  @media only screen and (max-width: 768px) {
  
    #tienda{  
      padding: 1rem 2rem;
    }
  
    .articulo{
      width: 100%;
      text-align: center;
      padding: 1rem ;
    }
  
  }