
/* estilos videos: */


main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.video{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;    
  padding: 2rem 10vh;
  margin: 0rem 0rem 2rem 0rem ;
  /*background-color: #e6f9ff; */
}
  
.elemento{
  width: 100%;
  text-align: center;
  padding: 2rem ;
}

.elemento h4{
  font-size: 1.5rem;
  margin: 0.5rem;
}

.lateral{
  width: 24%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.contenido img, .contenido p{  
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;
}

.contenido{
  width: 100%;
  text-align: justify;
  font-size: 1.2rem;
  font-style: normal;
  color: white;
  padding: 0rem ;
  margin: 0rem 1rem 2rem 1rem ;
  /*background-color: #e6e6e6;*/
  
}




/* smartphone */

@media only screen and (max-width: 768px) {

  .video{  
    width: 75%;
    padding: 1rem 2rem;
  }

  .elemento{
    width: 75%;
    text-align: center;
    padding: 1rem ;
  }

  iframe{
    width: 750%;
    height: auto;
  }

  .lateral{
    width: 100%;
    padding-bottom: 3rem;
    height: auto;
  }

}